#character
  .speech-bubble
    width: 400px
    height: 400px

  .character
    position: absolute
    background-color: red
    width: 200px
    height: 400px
    top: 300px

    &.character0
      left: 100px

    &.character1
      left: 400px

    &.character2
      left: 700px
