#character
  .speech-bubble-container
    position: absolute
    width: 250px
    height: 250px
    top: 40px

    .bubble
      position: absolute
      border-radius: 50% 50%
      border: 1px solid #000000
      background-color: #ffffff
      width: 30px
      height: 30px;

    .bubble1
      left: 50px
      bottom: 35px
      width: 45px
      height: 45px

    .bubble2
      left: 20px
      bottom: 85px

    .bubble3
      left: 20px
      top: 20px
      width: 150px
      height: 100px
      text-align: center
      padding-top: 10px

  .character
    position: absolute
    background-color: red
    width: 200px
    height: 400px
    top: 300px
    background-size: contain
    background-repeat: no-repeat

    &.active
      outline: 4px solid yellow

    &.character0
      left: 100px
      background-color: transparent
      background-image: url(asset('armoise.png'))

    &.character1
      left: 400px

    &.character2
      left: 700px

  .continue
    position: absolute
    width: 400px
    height: 40px
    background-color: #a52a2a
    text-align: center
    color: #ffffff
    font-weight: bold
    bottom: 20px;
    left: ((1024px - 400px) / 2)

    &.disabled
      pointer-events: none
      background-color: silver
