$seperator = 650px;

#game {
  background: #000000

  .floors {
    float: left;
    width: (1024px - $seperator);
    #wrapper {
      height: 768px;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
    #scroller {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      width: 100%;
      transform: translateZ(0);
      -webkit-touch-callout: none;
      user-select: none;
    }
    #scroller ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #scroller li {
      height: 768px;

      &.inbetween {
        background-image: url(asset('game/inbetween.png'));
      }
      &.inbetween1 {
        background-image: url(asset('game/inbetween2.png'));
      }
      &.inbetween2 {
        background-image: url(asset('game/inbetween3.png'));
      }

      &.floor1 {
        background-image: url(asset('game/floor1.png'));
      }

      &.floor2 {
        background-image: url(asset('game/floor2.png'));
      }

      &.floor-heaven {
        background-image: url(asset('game/floor_heaven.png'));
      }
    }
  }
  .hearts {
    background-image: url(asset('game/HeartCount_0.png'));
    position: absolute;
    width: 306px;
    height: 80px;
    z-index: 20;

    &[data-hearts="1"] {
      background-image: url(asset('game/HeartCount_1.png'));
    }
    &[data-hearts="2"] {
      background-image: url(asset('game/HeartCount_2.png'));
    }
    &[data-hearts="3"] {
      background-image: url(asset('game/HeartCount_3.png'));
    }
  }

  .heart {
    background-image: url(asset('game/poofclouds.png'));
    position: absolute;
    left: 499px;
    top: 257px;
    width: 413px;
    height: 480px;
    display: none;
    z-index: 30;
  }

  .elevator {
    float: left;
    width: $seperator;
    height: 100%;
    background-image: url(asset('game/elevator.png'))

    .floor {
      background-image: url(asset('game/floor_elevator.png'));
      width: 530px;
      height: 29px;
      bottom: 0px;
      position: absolute;
      z-index: 1;
    }
  }

  .elevator-door {
    position: absolute;
    height: 100%;
    background-image: url(asset('game/door.png'))
    left: (1024px - $seperator);
    width: 58px;
    z-index: 10;
  }

  .elevator-status-container {
    width: 300px;
    height: 85px;
    position: absolute;
    overflow: hidden;
    left: 550px;
    top: 10px;
  }

  .elevator-status {
    position: absolute;
    left: 50%;
    bottom: -6px;

    transform-origin: 10px 80px
    transition: transform 1000ms

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 90px 20px;
    border-color: transparent transparent #0f070c transparent;

    &.p0 {
      bottom: -14px
      left: 45%
      transform: rotate(-90deg)
    }

    &.p1 {
      left: 45%
      transform: rotate(-85deg)
    }

    &.p2 {
      transform: rotate(-75deg)
    }

    &.p3 {
      bottom: -22px
      transform: rotate(-40deg)
    }

    &.p4 {
      bottom: -24px
      left: 45%
      transform: rotate(2.5deg)
    }

    &.p5 {
      bottom: -22px
      transform: rotate(20deg)
    }

    &.p6 {
      transform: rotate(55deg)
    }

    &.p7 {
      transform: rotate(70deg)
    }
  }

  .bubble {
    position: absolute
    top: 150px
    left: 300px
    width: 309px;
    height: 215px;
    z-index: 15;
    background-image: url(asset('game/bubble.png'))

    .text {
      font-family: 'open_sansregular';
      color: #d4036b;
      margin-left: 7.5%
      margin-top: 7.5%
      width: 85%
      font-size: 1.1rem;
    }
  }
  .character {
    position: absolute;
    bottom: 22px;
    left: -300px;
    transition: transform 3000ms;
    background-size: contain;
    background-repeat: no-repeat;

    &.armoise {
      background-image: url(asset('armoise.png'));
      width: 287px;
      height: 456px;
    }

    &.meryl {
      background-image: url(asset('meryl.png'));
      width: 250px;
      height: 456px;
      margin-left: 30px;
    }

    &.bark {
      background-image: url(asset('bark.png'));
      width: 137px;
      height: 156px;
      margin-left: 100px;
    }

    &.npc0 {
      background-image: url(asset('demolitos.png'))
      bottom: 13px;
      width: 226px;
      height: 500px;
    }
    &.npc1 {
      background-image: url(asset('table.png'));
      width: 285px;
      height: 223px;
    }
    &.npc2 {
      background-image: url(asset('phostnack.png'));
      bottom: 11px;
      width: 280px;
      height: 337px;
    }

    &.right-side {
      transform: translateX(980px)
    }

    &.left-side {
      transform: translateX(730px)

      &.mirror {
        transform: translateX(730px) rotateY(180deg)
      }
    }

    &.out-side {
      transform: translateX(-730px)

      &.mirror {
        transform: translateX(-730px) rotateY(180deg)
      }
    }
  }
}
