.scene
  position: absolute
  width: 100%
  height: 100%

#conversation {
  .conversation-area {
    height: 50%;
    bottom: 0px;
    position: absolute;
    margin-left: 20px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 95%;

    .text {
      margin-top: 50px;
      &-npc {
        float: left;
        clear: right;
        margin-bottom: 50px;
        text-align: left;
        width: 85%
      }
      &-character {
        margin-bottom: 50px;
        float: right
        text-align: right;
        width: 85%
      }
    }
    .answers {
      clear: both;
      text-align: center;
    }

    .answer {
      background-color: gray;
      border-radius: 5px;
      padding: 3px;
      margin: 5px;
    }
  }
}


$seperator = 650px;

#game {
  .floors {
    float: left;
    width: (1024px - $seperator);
    #wrapper {
      height: 768px;
      z-index: 1;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
    #scroller {
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      width: 100%;
      transform: translateZ(0);
      -webkit-touch-callout: none;
      user-select: none;
    }
    #scroller ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #scroller li {
      height:768px;

      &.inbetween {
        background-image: url(asset('game/inbetween.png'));
      }

      &.floor1 {
        background-image: url(asset('game/floor1.png'));
      }

      &.floor2 {
        background-image: url(asset('game/floor2.png'));
      }
    }
  }
  .elevator {
    float: left;
    width: $seperator;
    height: 100%;
    background-image: url(asset('game/elevator.png'))
  }
  .character {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: transform 2000ms;

    &.hero1 {
      background-image: url(asset('armoise.png'));
      width: 287px;
      height: 456px;
      background-size: contain;
    }

    &.npc0 {
      background-image: url(asset('phostnack.png'))
      width: 280px;
      height: 337px;
      background-size: contain;
    }

    &.right-side {
      transform: translateX(650px)
    }

    &.left-side {
      transform: translateX(400px)
    }
  }
}
