.scene
  position: absolute
  width: 100%
  height: 100%

#outro
  .background
    background-image: url(asset('outro/background.png'))
    width: 100%;
    height: 100%;

#conversation {
  .background {
    background-image: url(asset('conversation/background.png'));
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .portrait {
    width: 500px;
    height: 500px;
    background-size: contain;
    position: absolute;
    left: 20px;
    top: 20px;
    background-repeat: no-repeat;

    &[data-name=npc0] {
      background-image: url(asset('phostnack.png'));
    }
  }

  .conversation-area {
    position: absolute;
    width: 100%;
    height: 100%;

    .text {
      margin-top: 50px;

      &-npc, &-character {
        padding: 20px;
        background-color: #f3c7c7;
        border-radius: 20px;
        border: 10px solid #740342;
        padding: 40px;
        position: absolute;
        width: 600px;
        height: 160px;
        box-shadow: 2px 2px 6px #444;
      }

      &-npc {
        float: left;
        clear: right;
        text-align: left;
        right: 40px;
        top: 50px;
        width: 490px;
      }
      &-character {
        text-align: right;
        bottom: 10px;
        width: 80%;
        left: 5%;
      }
    }
    .answers {
      position: absolute;
      right: 40px;
      bottom: 350px;
    }

    .answer {
      background-color: #740342;
      color: #f3c7c7;
      border-radius: 6px;
      padding: 8px;
      margin: 5px;
    }
  }
}


$seperator = 650px;

#game {
  .floors {
    float: left;
    width: (1024px - $seperator);
    #wrapper {
      height: 768px;
      z-index: 1;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
    #scroller {
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      width: 100%;
      transform: translateZ(0);
      -webkit-touch-callout: none;
      user-select: none;
    }
    #scroller ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #scroller li {
      height:768px;

      &.inbetween {
        background-image: url(asset('game/inbetween.png'));
      }

      &.floor1 {
        background-image: url(asset('game/floor1.png'));
      }

      &.floor2 {
        background-image: url(asset('game/floor2.png'));
      }
    }
  }
  .elevator {
    float: left;
    width: $seperator;
    height: 100%;
    background-image: url(asset('game/elevator.png'))
  }
  .character {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: transform 2000ms;

    &.hero1 {
      background-image: url(asset('armoise.png'));
      width: 287px;
      height: 456px;
      background-size: contain;
    }

    &.npc0 {
      background-image: url(asset('phostnack.png'))
      width: 280px;
      height: 337px;
      background-size: contain;
    }

    &.right-side {
      transform: translateX(650px)
    }

    &.left-side {
      transform: translateX(400px)
    }
  }
}
